---
layout: top
title: おさむ村 いろんなまとめ
---

{% include JB/setup %}


<div class="jumbotron">
  <div class="container">
    <font color="white">
      <h1>Osamu Server</h1>
      <p>
        うちのコミュではMinecraftのマルチサーバを立ててます<br>
        これを読んで　是非　参加してみて下さい<br>
        大したことは　してないけどね<br>
      </p>
      <a class="btn btn-primary btn-lg" href="/getting-started.html">さらに詳しく</a>
    </font>
  </div>
</div>


<div class="container">
    <div class="marketing">
    <h1 class="text-center">すべてのクラフターのために構築されました</h1>
    <div class="marketing-byline">多くの人たちに愛されているMinecraftの体験を、さらに素晴らしいものにしたい。<br>おさむ村は、そんな気持ちから始まりました。</div>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="https://v4s2.yimg.com/sk/3829/12878940593_a827868d95_b.jpg">
        <h3 class="text-center">２４時間、３６５日</h3>
        <p>アイディアはいつやって来るかわかりません。でも、おさむ村なら大丈夫。24時間365日常時稼働なので、あなたのアイディアをいつでも形にすることができます。</p>
      </div>

      <div class="col-sm-4">
        <img src="https://v4s2.yimg.com/so/7364/12872059035_231cb384b8_b.jpg">
        <h3 class="text-center">方向音痴も安心</h3>
        <p>もし、おさむ村で道に迷っても問題ありません。動く地図なら、あなたの今いる場所、最寄りのランドマーク、友達がどこにいるかがひと目で分かります。</p>
      </div>

      <div class="col-sm-4">
        <img src="https://farm8.staticflickr.com/7550/15773774257_d8ab986179_b.jpg">
        <h3 class="text-center">あおいちゃんかわいい！</h3>
        <p>あぁ＾〜</p>
        <a class="btn btn-default btn-sm" href="http://www.yamanosusume.com/">さらに詳しく »</a>
      </div>
    </div>
    </div>
</div>

<div class="container">
  <div class="page-header">
    <h1>ホットニュース<small>最新の情報をあなたに</small></h1>
  </div>
  <ul class="posts">
    {% for post in site.posts %}
    <li><span>{{ post.date | date_to_long_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
